---
// @ts-nocheck

import Card from "../components/Card.astro";

import DefaultLayout from "../layouts/DefaultLayout.astro";

// Fetch first 151 Pokémon
import {POKEMON_URL} from "./shared.js"
const res = await fetch(POKEMON_URL);
const data = await res.json();
const pokemonList = data.results;
---

<DefaultLayout title="Pokémon Overview">
  <h1>Pokémon Overview</h1>

  <div class="overview-grid">
    {pokemonList.map((pokemon) => <Card pokemonName={pokemon.name} />)}
  </div>
</DefaultLayout>



<style>
  body {
    background: var(--color-background);
  }

  h1 {
    text-align: center;
    color: white;
    font-family: "Jost", sans-serif;
    margin: 5rem 0 2rem 0;
  }

  .overview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
</style>
